version.properties
*~
Thumbs.db
*.bak
*.class
*.orig
*.bak
*.rpmorig
*.rpmsave
*.rpmnew
*.rpmold
*.old
*.log

/bin

/build.properties
/includes
/output

db.properties

/dist/build
/dist/*.bak
/dist/Thumbs.db
/dist/*~
/dist/*.jar
/dist/*.xml
/dist/*.gz
/deps

